<div class="full-height flexbox col">
    <div id="accordion-control" iconTrigger="#acc-arrow-button-control" class="accordion accordion-vertical left no-drag">
        <div class="accordion-bar">
            <button id="acc-arrow-button-control" class="sd-button only-desktop">
                <div id="mask-icon-acc-arrow-control" class="mask-icon accordion-icon icon-arrow-down"></div>
            </button>
            <div class="flexbox col"></div>
            <div id="sidebar_control" class="flexbox col shrink group-col">
                <button title="Prompts" tabItemId="#control_prompts_tabitem" tabGroup="control" id="control_prompts" active="true" class="xtabs-tab shrink">
                    <div class="mask-icon icon-prompt"></div>
                    <span>Prompts</span>
                </button>

                <button title="Base" tabItemId="#control_params_size_tabitem" tabGroup="control" id="control_params_size" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize"></div>
                    <span>Base</span>
                </button>
                <button title="Input & Mask" tabItemId="#control_params_mask_tabitem" tabGroup="control" id="control_params_mask" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize"></div>
                    <span>Input & Mask</span>
                </button>
                <button title="Advanced" tabItemId="#control_params_advanced_tabitem" tabGroup="control" id="control_params_advanced" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize"></div>
                    <span>Advanced</span>
                </button>
                <button title="Control" tabItemId="#control_params_elements_tabitem" tabGroup="control" id="control_params_elements" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize"></div>
                    <span>Control</span>
                </button>

                <button title="Scripts / Extensions" tabItemId="#control_scripts_tabitem" tabGroup="control" id="control_scripts" class="xtabs-tab">
                    <div class="mask-icon icon-scripts"></div>
                    <span>Scripts</span>
                </button>
                <button title="Results" tabItemId="#control_results_mobile_tabitem" tabGroup="control" id="control_results_mobile" class="xtabs-tab only-mobile">
                    <div class="mask-icon icon-results"></div>
                    <span>Results</span>
                </button>
            </div>
        </div>
        <div class="accordion-container">
            <div id="control-params" class="layout">
                <div class="layout-content">
                    <div id="control_prompts_tabitem_group" class="flexbox col">
                        <div id="control_prompts_tabitem" class="xtabs-item">
                            <div class="layout">
                                <div class="layout-header">
                                    <div class="flexbox no-padding row">
                                        <div class="flexbox no-border no-bg shrink row">
                                            <div data-parent-selector="#tab_control" data-selector="#control_paste" droppable="true" class="portal only-diffusers shrink invisible">
                                                <div class="mask-icon icon-magic"></div>
                                            </div>
                                            <div data-parent-selector="#control_tools" data-selector="#control_clear_prompt_btn" droppable="true" class="portal only-diffusers shrink invisible">
                                                <div class="mask-icon icon-delete"></div>
                                            </div>
                                        </div>
                                        <div class="flexbox no-border no-bg row">
                                            <div data-parent-selector="#control_styles_row" data-selector="#control_styles" class="portal only-diffusers no-min-width"></div>
                                            <div data-parent-selector="#control_styles_row" data-selector="#control_styles_refresh" droppable="true" class="portal only-diffusers shrink invisible">
                                                <div class="mask-icon refresh"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layout-content">
                                    <div class="flexbox col">
                                        <div id="split-2a" direction="vertical" gutterSize="8" class="split">
                                            <div data-minSize="0" data-initSize="50" id="split-control-prompt-up" class="split-container">
                                                <div class="layout">
                                                    <div class="layout-content">
                                                        <div data-parent-selector="#tab_control" data-selector="#control_prompt" class="portal only-diffusers no-bg"></div>
                                                    </div>
                                                    <div class="layout-footer">
                                                        <div data-parent-selector="#tab_control" data-selector="#control_token_counter" class="portal only-diffusers relative" data-timeout="1000"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-minSize="0" data-initSize="50" id="split-control-prompt-down" class="split-container">
                                                <div class="layout">
                                                    <div class="layout-content">
                                                        <div data-parent-selector="#tab_control" data-selector="#control_neg_prompt" class="portal only-diffusers no-bg"></div>
                                                    </div>
                                                    <div class="layout-footer">
                                                        <div data-parent-selector="#tab_control" data-selector="#control_negative_token_counter" data-timeout="1000" class="portal only-diffusers relative"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="control_params_size_tabitem_group">
                        <div id="control_params_size_tabitem" class="xtabs-item">
                            <div class="flexbox col">
                                <div data-parent-selector="#control_settings" data-selector="#control_size div:last-child > div" class="portal only-diffusers"></div>
                                <div class="flexbox col spacer-group"></div>

                                <div class="flexbox row">
                                    <div data-parent-selector="#tab_control" data-selector="#control_batch_size" class="portal only-diffusers"></div>
                                    <div data-parent-selector="#tab_control" data-selector="#control_batch_count" class="portal only-diffusers"></div>
                                </div>
                                <div class="flexbox col spacer-group"></div>

                                <div class="flexbox group col">
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_sampling" class="portal min-width"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_steps" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox col">
                                        <div data-parent-selector="#tab_control" data-selector="#control_sampler_options" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_sigma_algo" class="portal only-original"></div>
                                    </div>
                                </div>
                                <div class="flexbox col spacer-group"></div>

                                <div class="flexbox group col">
                                    <div class="flexbox row">
                                        <div class="flexbox no-border row">
                                            <div data-parent-selector="#tab_control" data-selector="#control_seed" class="portal no-min-width"></div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_random_seed" droppable="true" class="portal invisible shrink">
                                                <div class="mask-icon icon-dice"></div>
                                            </div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_reuse_seed" droppable="true" class="portal shrink invisible">
                                                <div class="mask-icon icon-recycle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flexbox row">
                                        <div class="flexbox no-border min-width fb-50 row">
                                            <div data-parent-selector="#tab_control" data-selector="#control_subseed" class="portal no-min-width"></div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_random_subseed" droppable="true" class="portal shrink invisible">
                                                <div class="mask-icon icon-dice"></div>
                                            </div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_reuse_subseed" droppable="true" class="portal shrink invisible">
                                                <div class="mask-icon icon-recycle"></div>
                                            </div>
                                        </div>
                                        <div class="flexbox row fb-50">
                                            <div data-parent-selector="#tab_control" data-selector="#control_subseed_strength" class="portal min-width fb-50"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flexbox col spacer-group"></div>

                                <div data-parent-selector="#control_settings" data-selector="#control_video div:last-child > div" class="portal only-diffusers"></div>
                            </div>
                        </div>
                    </div>

                    <div id="control_params_mask_tabitem_group" class="flexbox col">
                        <div id="control_params_mask_tabitem" class="xtabs-item">
                            <div data-parent-selector="#control_settings" data-selector="#control_input div:last-child > div" class="portal only-diffusers"></div>
                            <div class="flexbox col spacer-group"></div>
                            <div data-parent-selector="#control_settings" data-selector="#control_mask div:last-child > div" class="portal only-diffusers"></div>
                        </div>
                    </div>

                    <div id="control_params_advanced_tabitem_group" class="flexbox col">
                        <div id="control_params_advanced_tabitem" class="xtabs-item">
                            <div class="flexbox col">
                                <div class="flexbox group col">
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_cfg_scale" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_cfg_end" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_image_cfg_scale" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_image_cfg_rescale" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_image_sag_scale" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_clip_skip" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_advanced_options" class="portal no-padding no-bg"></div>
                                    </div>
                                </div>
                                <div class="flexbox col spacer-group"></div>

                                <div class="flexbox group col">
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_mode" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_brightness" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_sharpen" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_color" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_clamp" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_boundary" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_threshold" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_maximize" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_max_center" class="portal only-diffusers"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_max_boundry" class="portal only-diffusers"></div>
                                    </div>
                                    <div class="flexbox row">
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_color_picker" class="portal only-diffusers shrink"></div>
                                        <div data-parent-selector="#tab_control" data-selector="#control_hdr_tint_ratio" class="portal only-diffusers"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="control_params_elements_tabitem_group" class="flexbox col">
                        <div id="control_params_elements_tabitem" class="xtabs-item">
                            <div data-parent-selector="#tab_control" data-selector="#control_elements div:last-child > div" class="portal only-diffusers"></div>
                        </div>
                    </div>

                    <div id="control_scripts_tabitem_group" class="flexbox col">
                        <div id="control_scripts_tabitem" class="xtabs-item">
                            <div data-parent-selector="#tab_control" data-selector="#control_script_container" class="portal only-diffusers no-bg"></div>
                        </div>
                    </div>

                    <div id="control_results_mobile_tabitem_group" class="flexbox col only-mobile">
                        <div id="control_results_mobile_tabitem" mobile="#template-control-results" class="xtabs-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="control_results_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
        <div id="control_results_generate_tabitem" mobile="#control_generate_group" class="xtabs-item"></div>
    </div>
</div>