<div id="sdnext_app" class="flexbox col app">
  <div id="main_wrapper" class="flexbox row no-wrap">
    <div id="main-nav" class="layout shrink initial panel ">
      <div class="layout-header">
        <button id="logo_nav" title="SD.Next" active="true" class="xtabs-tab no-drag active">
          <div class="mask-icon icon-sdnext"></div>
          <span>SD.Next</span>
        </button>
      </div>
      <div id="main_nav_content" class="layout-content">
        <div id="main-nav-bar" class="flexbox col shrink">
          <button title="Generate Images" id="control_nav" tabItemId="#split-app, #control_tabitem" tabGroup="main_group" active="true" data-click="#tabs" class="xtabs-tab">
            <div class="mask-icon icon-control"></div>
            <span>Images</span>
          </button>
          <button title="Text2Image | Legacy" id="txt2img_nav" tabItemId="#split-app, #txt2img_tabitem" tabGroup="main_group" data-click="#tabs" class="xtabs-tab only-legacy">
            <div class="mask-icon icon-txt2img"></div>
            <span>T2I</span>
          </button>
          <button title="Image2Image | Legacy" id="img2img_nav" tabItemId="#split-app, #img2img_tabitem" tabGroup="main_group" data-click="#tabs" class="xtabs-tab only-legacy">
            <div class="mask-icon icon-img2img"></div>
            <span>I2I</span>
          </button>
          <button title="Generate Video" id="video_nav" tabItemId="#split-app, #video_tabitem" tabGroup="main_group" active="true" data-click="#tabs" class="xtabs-tab">
            <div class="mask-icon icon-video"></div>
            <span>Video</span>
          </button>
          <button title="Process Images" id="extras_nav" tabItemId="#split-app, #extras_tabitem" tabGroup="main_group" data-click="#tabs" class="xtabs-tab">
            <div class="mask-icon icon-extras"></div>
            <span>Process</span>
          </button>
          <button title="Caption Images" id="caption_nav" tabItemId="#split-app, #caption_tabitem" tabGroup="main_group" data-click="#tabs" class="xtabs-tab">
            <div class="mask-icon icon-caption"></div>
            <span>Caption</span>
          </button>
          <button title="Image Gallery" id="gallery_nav" tabItemId="#split-app, #gallery_tabitem" tabGroup="main_group" data-click="#tabs" class="xtabs-tab">
            <div class="mask-icon icon-gallery"></div>
            <span>Gallery</span>
          </button>
          <div class="flexbox col spacer-v"></div>
          <div id="other_extensions" class="flexbox col"></div>
        </div>
      </div>
      <div class="layout-footer">
        <button title="Documentation" class="xtabs-tab" onclick="window.open('https://vladmandic.github.io/sdnext-docs/', '_blank')">
          <div class="mask-icon icon-docs"></div>
          <span>Docs</span>
        </button>
        <button title="GitHub" class="xtabs-tab" onclick="window.open('https://github.com/vladmandic/sdnext', '_blank')">
          <div class="mask-icon icon-github"></div>
          <span>GitHub</span>
        </button>
        <button title="Discord" class="xtabs-tab" onclick="window.open('https://discord.gg/VjvR2tabEX', '_blank')">
          <div class="mask-icon icon-discord"></div>
          <span>Discord</span>
        </button>
        <button title="Contributors" id="contributors" tabItemId="#no-split-app, #contributors_tabitem" tabGroup="main_group" class="xtabs-tab no-drag">
          <div class="mask-icon icon-contributors"></div>
          <span>Contributors</span>
        </button>
        <div class="locale flexbox">
          <div id="locale-container" class="xtabs-tab no-drag locale-indicator" title="User interface locale"></div>
          <input id="sd-primary-color" type="color" class="color-indicator" title="User interface primary color" value="#29A3A3">
        </div>
      </div>
    </div>
    <div id="layout_main_wrapper" class="layout grow initial">
      <div class="layout-content">
        <div class="flexbox row relative main">
          <div id="no-split-app" class="xtabs-item">
            <div id="contributors_tabitem_parent">
              <div id="contributors_tabitem" class="xtabs-item no-padding"></div>
            </div>
          </div>
          <div id="split-app" gutterSize="6" direction="horizontal" class="split">
            <div data-minSize="0" data-initSize="100" id="split-left" class="split-container">
              <div id="txt2img_tabitem_parent">
                <div id="txt2img_tabitem" class="xtabs-item no-padding">
                  <div id="split-txt2img" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="50" id="split-txt2img-left" class="split-container params">
                      <div template="main/template-txt2img-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="50" id="split-txt2img-right" class="split-container results">
                      <div template="main/template-txt2img-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="img2img_tabitem_parent">
                <div id="img2img_tabitem" class="xtabs-item no-padding">
                  <div id="split-img2img" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="34" id="split-img2img-left" class="split-container params">
                      <div template="main/template-img2img-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="66" id="split-img2img-right" class="split-container results">
                      <div template="main/template-img2img-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="control_tabitem_parent">
                <div id="control_tabitem" class="xtabs-item no-padding">
                  <div id="split-control" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="34" id="split-control-left" class="split-container params">
                      <div template="main/template-control-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="66" id="split-control-right" class="split-container results">
                      <div template="main/template-control-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="video_tabitem_parent">
                <div id="video_tabitem" class="xtabs-item no-padding">
                  <div id="split-video" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="34" id="split-video-left" class="split-container params">
                      <div template="main/template-video-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="66" id="split-video-right" class="split-container results">
                      <div template="main/template-video-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="extras_tabitem_parent">
                <div id="extras_tabitem" class="xtabs-item no-padding">
                  <div id="split-extras" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="34" id="split-extras-left" class="split-container params">
                      <div template="main/template-extras-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="66" id="split-extras-right" class="split-container results">
                      <div template="main/template-extras-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="caption_tabitem_parent">
                <div id="caption_tabitem" class="xtabs-item no-padding">
                  <div id="split-caption" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="25" id="split-caption-left" class="split-container image-input">
                      <div template="main/template-caption-image" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="35" id="split-caption-middle" class="split-container params">
                      <div template="main/template-caption-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="40" id="split-caption-right" class="split-container results">
                      <div template="main/template-caption-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="gallery_tabitem_parent">
                <div id="gallery_tabitem" class="xtabs-item no-padding">
                  <div id="split-gallery" direction="horizontal" gutterSize="6" class="split">
                    <div data-minSize="0" data-initSize="50" id="split-gallery-left" class="split-container params">
                      <div template="main/template-gallery-params" class="template"></div>
                    </div>
                    <div data-minSize="0" data-initSize="50" id="split-gallery-right" class="split-container results">
                      <div template="main/template-gallery-results" class="template"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-minSize="0" data-initSize="50" id="split-right" class="split-container no-drag">
              <div template="template-aside-panel" class="template" id="aside-panel"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>