<div id="layout-extras" class="layout">
    <div class="layout-header">
        <div id="extras_header_panel" class="flexbox row shrink panel padding no-br">
            <div id="extras_header" class="flexbox row no-wrap shrink no-labels flex-start group-row">
                <button title="Parameters" tabItemId="#extras_params_tabitem" tabGroup="extras" id="extras_params" active="true" class="xtabs-tab shrink">
                    <div class="mask-icon icon-equalize"></div>
                    <span>Params</span>
                </button>
                <button title="Extras Results" tabItemId="#extras_results_mobile_tabitem" tabGroup="extras" id="extras_results_mobile" class="xtabs-tab only-mobile">
                    <div class="mask-icon icon-results"></div>
                    <span>Results</span>
                </button>
            </div>
            <div id="extras_generate_group" class="flexbox row flex-end group-row">
                <div title="Skip" data-selector="#extras_skip" data-parent-selector="#tab_process" droppable="true" class="portal invisible shrink no-bg no-padding-one disable">
                    <div class="mask-icon icon-skip"></div>
                </div>
                <div title="Interrupt" data-selector="#extras_interrupt" data-parent-selector="#tab_process" droppable="true" class="portal invisible shrink no-bg no-padding-one disable">
                    <div class="mask-icon icon-stop"></div>
                </div>
                <button title="Generate" class="ae-button generate">
                    <div data-selector="#extras_generate" data-parent-selector="#tab_process" droppable="true" class="portal no-bg shrink invisible">
                        <div class="mask-icon icon-generate"></div>
                        <span>Generate</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="layout-content">
        <div class="xtabs panel auto no-tr">
            <div class="flexbox col shrink">
                <div id="extras_params_tabitem_group" class="flexbox col">
                    <div id="extras_params_tabitem" class="xtabs-item">
                        <div class="flexbox row group">
                            <div data-parent-selector="#tab_process" data-selector="#extras_save_output" class="portal"></div>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox row group">
                            <div data-parent-selector="#tab_process" data-selector="#mode_extras" class="portal min-width no-padding"></div>
                            <div class="flexbox col center panel shrink padding">
                                <button class="ae-button" data-click="#txt2img_nav, #txt2img_params">
                                    <div data-selector="#txt2img_tab" data-parent-selector="#component-2167" droppable="true" class="portal invisible">
                                        <div class="mask-icon icon-2txt2img"></div>
                                    </div>
                                </button>
                                <button class="ae-button" data-click="#img2img_nav, #img2img_params">
                                    <div data-selector="#img2img_tab" data-parent-selector="#component-2167" droppable="true" class="portal invisible">
                                        <div class="mask-icon icon-2img2img"></div>
                                    </div>
                                </button>
                                <button class="ae-button" data-click="#img2img_nav, #img2img_params">
                                    <div data-selector="#inpaint_tab" data-parent-selector="#component-2167" droppable="true" class="portal invisible">
                                        <div class="mask-icon icon-2inpaint"></div>
                                    </div>
                                </button>
                                <button class="ae-button only-diffusers" data-click="#control_nav">
                                    <div data-selector="#control_tab" data-parent-selector="#component-2167" droppable="true" class="portal invisible">
                                        <div class="mask-icon icon-2control"></div>
                                    </div>
                                </button>
                            </div>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox col">
                            <div class="flexbox row wrap">
                                <div class="flexbox row grow-all group no-wrap">
                                    <div class="flexbox panel col shrink">
                                        <button tabItemId="#extras_scale_by_tabitem" tabGroup="extras-scale-group" data-click="#tab_process" active="true" class="xtabs-tab no-drag ">Scale by</button>
                                        <button tabItemId="#extras_scale_to_tabitem" tabGroup="extras-scale-group" data-click="#tab_process" class="xtabs-tab no-drag">Scale to</button>
                                    </div>
                                    <div class="flexbox col">
                                        <div class="xtabs sub-group no-padding">
                                            <div class="xtabs-items">
                                                <div class="flexbox col no-padding full-height">
                                                    <div id="extras_scale_to_tabitem" class="xtabs-item notransition inset initial">
                                                        <div class="flexbox row wrap">
                                                            <div class="flexbox no-wrap row">
                                                                <div class="flexbox col">
                                                                    <div data-parent-selector="#tab_process" data-selector="#extras_upscaling_resize_w" class="portal"></div>
                                                                    <div data-parent-selector="#tab_process" data-selector="#extras_upscaling_resize_h" class="portal"></div>
                                                                </div>
                                                                <div class="flexbox unset-min-width shrink col panel padding center">
                                                                    <div data-selector="#upscaling_res_switch_btn" data-parent-selector="#tab_process" droppable="true" class="portal no-padding shrink invisible tool">
                                                                        <div class="mask-icon icon-res-switch"></div>
                                                                    </div>
                                                                    <button id="ae-button-crop" toggle="true" class="ae-button shrink tool">
                                                                        <div data-parent-selector="#tab_process" data-selector="#extras_upscaling_crop" droppable="true" class="portal shrink invisible tool">
                                                                            <div class="mask-icon icon-crop"></div>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="extras_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                                        <div class="flexbox col">
                                                            <div data-parent-selector="#tab_process" data-selector="#extras_upscaling_resize" class="portal min-width"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flexbox row">
                                <div data-parent-selector="#tab_process" data-selector="#extras_upscaler_1" class="portal"></div>
                                <div data-parent-selector="#tab_process" data-selector="#extras_upscaler_2" class="portal"></div>
                                <div data-parent-selector="#tab_process" data-selector="#extras_upscaler_2_visibility" class="portal"></div>
                            </div>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox group col">
                            <p>TODO Video</p>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox group row">
                            <div data-parent-selector="#tab_process" data-selector="#extras_gfpgan_visibility" class="portal"></div>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox group row">
                            <div data-parent-selector="#tab_process" data-selector="#extras_codeformer_visibility" class="portal"></div>
                            <div data-parent-selector="#tab_process" data-selector="#extras_codeformer_weight" class="portal"></div>
                        </div>

                        <div class="flexbox col spacer-group"></div>

                        <div class="flexbox group col">
                            <p>TODO Rembg</p>
                        </div>
                    </div>
                </div>

                <div id="extras_results_mobile_tabitem_group" class="flexbox col only-mobile">
                    <div id="extras_results_mobile_tabitem" mobile="#template-extras-results" class="xtabs-item"></div>
                </div>
            </div>
        </div>

        <div id="extras_results_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
            <div id="extras_results_generate_tabitem" mobile="#extras_generate_group" class="xtabs-item"></div>
        </div>
    </div>
</div>