:root {
    --sd-main-bg-color:hsl(185deg 85% 5%);
    --sd-primary-color:hsl(58deg 39% 50%);
    --sd-input-bg-color:hsl(184deg 80% 4%);
    --sd-input-border-color:hsl(180deg 80% 2%);
    --sd-panel-bg-color:hsl(184deg 89% 7%);
    --sd-panel-border-color:hsl(186deg 84% 10%);
    --sd-panel-border-radius:0px;
    --sd-subpanel-border-radius:0px;
    --sd-outside-gap-size:2px;
    --sd-inside-padding-size:8px;
    --sd-tool-button-size:34px;
    --sd-tool-button-radius:16px;
    --sd-generate-button-height:70px;
    --sd-max-padding:max(var(--sd-outside-gap-size),var(--sd-inside-padding-size));
    --sd-icon-size:22px;
    --sd-label-color:hsl(168deg 100% 75%);
    --sd-mobile-outside-gap-size:2px;
    --sd-mobile-inside-padding-size:8px;
    --sd-input-height:35px;
    --sd-input-slider-height:0.5;
    --sd-gap-size-val:1px;
    --sd-input-font-size:14px;
    --sd-input-line-height:20px;
    --sd-input-border-size:1px;
    --sd-input-border-radius:0px;
    --sd-input-padding:5px;
    --sd-panel-padding:5px;
    --sd-border-radius:0px;
    --sd-border-size:1px;
    --sd-group-padding:0px;
    --sd-group-radius:0px;
    --sd-group-border-size:0px;
    --sd-group-gap:1px;
    --sd-group-bg-color:hsl(185deg 73% 3%);
    --sd-group-border-color:hsl(185deg 73% 3%);
    --sd-secondary-color:hsl(181deg 90% 31%);
    --sd-input-text-color:hsl(58deg 39% 50%);
    --sd-input-placeholder-color:hsl(185deg 72% 25%);
    --sd-secondary-label-color:hsl(0deg 100% 50%);
    --sd-input-hover-text-color:hsl(184deg 89% 7%);
}