/* Author: QuantumSoul */

:root {
    --sd-main-accent-color:#006666;
    --sd-label-color:#042727;
    --sd-input-text-color:hsl(0deg 100% 100%);
    --sd-input-placeholder-text-color:#006666;
    --sd-input-hover-text-color:hsl(0deg 100% 100%);

    --sd-main-background-color:#aedada;
    --sd-input-background-color:rgba(0, 102, 102, 0.5);
    --sd-input-border-color:transparent;
    --sd-panel-background-color:#7bb7b7;
    --sd-panel-border-color:rgb(0, 102, 102, 0.3);
    --sd-group-background-color:transparent;
    --sd-group-border-color:transparent;
    
    --sd-border-size: 1px;
}