/* Author: illu_Zn */

:root {
    --sd-main-accent-color: #4E4FBB;
    --sd-label-color: #C1BFDB;
    --sd-input-text-color: #9b97bc;
    --sd-input-secondary-text-color: #5e6fbb;
    --sd-input-placeholder-text-color: #494671;
    --sd-input-hover-text-color: var(--sd-button-selected-text-color);

    --sd-button-normal-color: var(--sd-input-background-color);
    --sd-button-normal-text-color: #737096;
    --sd-button-selected-color: var(--sd-main-accent-color);
    --sd-button-selected-text-color: #f0e8f1;
    --sd-button-hover-color: #dc8d3d;
    --sd-button-hover-text-color: #def1f3;

    --sd-main-background-color: var(--sd-input-background-color);
    --sd-input-background-color: #1c1c22;
    --sd-input-border-color: #24242c;
    --sd-panel-background-color: var(--sd-input-border-color);
    --sd-panel-border-color: #1e1e27;
    --sd-group-background-color: transparent;
    --sd-group-border-color: transparent;
    --sd-scrollbar-color: #272737;
    --sd-outline-color: #a36332;

    --illuzn-secondary-panel-color: #1f1f25;
}

/* Compact Mode */
:root {
    --sd-input-height: 35px;
    --sd-input-slider-height: 0.5;
    --sd-input-icon-height: calc(var(--sd-input-height) - var(--sd-input-border-size) * 2);
    --sd-input-padding: 5px;
    --sd-input-line-height: 23px;
    --sd-input-border-size: 1px;

    --sd-panel-padding: 5px;

    --sd-group-padding: 0px;
    --sd-group-border-radius: 7px;
    --sd-group-border-size: 1px;
    --sd-group-gap: 5px;

    --sd-border-radius: 5px;
    --sd-border-size: 2px;
    --sd-gap-size-val: 5px;
    --sd-outside-gap-size: 8px;
    --sd-gap-size: max(var(--sd-gap-size-val), var(--sd-border-size));

    color-scheme: dark;
}

/* Accents generate button :D */
.sd-button.generate:first-of-type {
    background-color: var(--sd-main-accent-color);
}
.sd-button.generate:first-of-type span {
    color: var(--sd-button-selected-text-color);
}
.sd-button.generate:first-of-type .mask-icon {
    background-color: var(--sd-button-selected-text-color);
}

/* Alternating group colors */
.outline-params *>.group:nth-of-type(4n+1) .no-border,
.outline-params *>.group:nth-of-type(4n+1) .portal,
.outline-params *>.group:nth-of-type(4n+1) .panel {
    background-color: var(--sd-input-border-color);
}
.outline-params *>.group:nth-of-type(4n+3) .no-border,
.outline-params *>.group:nth-of-type(4n+3) .portal,
.outline-params *>.group:nth-of-type(4n+3) .panel {
    background-color: var(--illuzn-secondary-panel-color);
}