/* Author: QuantumSoul */

:root {
    --sd-primary-color:#008772;
    --sd-main-bg-color:black;
    --sd-label-color:white;
    
    --sd-input-text-color:white;
    --sd-input-placeholder-color:gray;
    --sd-input-bg-color:rgba(255,255,255, 0.15);
    --sd-input-border-color:rgba(255,255,255, 0.15);
    --sd-input-hover-text-color:white;
    
    --sd-panel-bg-color:black;
    --sd-panel-border-color:rgba(255,255,255, 0.15);
    
    --sd-border-size: 1px;
    --sd-input-border-size: 1px;
    
    --sd-group-bg-color:transparent;
    --sd-group-border-color:transparent;
}