/* Author: Anapnoe */

:root {
    --sd-primary-color:hsl(0deg 0% 0%);
    --sd-secondary-color:hsl(225deg 6% 13%);
    --sd-main-bg-color:hsl(0deg 0% 95%);
    --sd-input-height:28px;
    --sd-input-slider-height:0.5;
    --sd-input-icon-height:calc(var(--sd-input-height) - var(--sd-input-border-size) * 2);
    --sd-input-padding:5px;
    --sd-input-font-size:12px;
    --sd-input-line-height:16px;
    --sd-label-color:hsl(0deg 0% 15%);
    --sd-input-border-size:1px;
    --sd-input-border-radius:0px;
    --sd-input-text-color:hsl(0deg 0% 0%);
    --sd-input-placeholder-color:hsl(0deg 0% 89%);
    --sd-input-bg-color:hsl(0deg 100% 100%);
    --sd-input-border-color:hsl(0deg 0% 95%);
    --sd-input-hover-text-color:hsl(0deg 100% 100%);
    --sd-panel-bg-color:hsl(0deg 0% 98%);
    --sd-panel-border-color:hsl(0deg 0% 87%);
    --sd-panel-padding:5px;
    --sd-border-radius:5px;
    --sd-border-size:0px;
    --sd-gap-size-val:3px;
    --sd-gap-size:max(var(--sd-gap-size-val), var(--sd-border-size));
    --sd-border-size-neg:calc(var(--sd-border-size) * -1);
    --sd-border-size-x2:calc((var(--sd-border-size) * 2) + 0px);
    --sd-group-bg-color:hsl(0deg 0% 94%);
    --sd-group-padding:2px;
    --sd-group-radius:6px;
    --sd-group-border-size:0px;
    --sd-group-border-color:hsl(0deg 0% 94%);
    --sd-group-gap:2px;
    --sd-panel-border-radius:0px;
    --sd-subpanel-border-radius:8px;
    --sd-outside-gap-size:8px;
    --sd-inside-padding-size:8px;
    --sd-tool-button-size:34px;
    --sd-tool-button-radius:16px;
    --sd-generate-button-height:70px;
    --sd-max-padding:max(    var(--sd-outside-gap-size),    var(--sd-inside-padding-size)  );
    --sd-icon-size:22px;
    --sd-mobile-outside-gap-size:2px;
    --sd-mobile-inside-padding-size:2px;
}