:root {
    --sd-primary-color:hsl(168deg 97% 41%);
    --sd-secondary-color:hsl(225deg 6% 13%);
    --sd-main-bg-color:hsl(0deg 0% 10%);
    --sd-input-height:35px;
    --sd-input-slider-height:0.5;
    --sd-input-icon-height:calc(var(--sd-input-height) - var(--sd-input-border-size) * 2);
    --sd-input-padding:5px;
    --sd-input-font-size:12px;
    --sd-input-line-height:24px;
    --sd-label-color:hsl(216deg 5% 60%);
    --sd-secondary-label-color:hsl(216deg 5% 60%);
    --sd-input-border-size:0px;
    --sd-input-border-radius:0px;
    --sd-input-text-color:hsl(216deg 5% 60%);
    --sd-input-placeholder-color:hsl(168deg 97% 41%);
    --sd-input-bg-color:hsl(225deg 6% 13%);
    --sd-input-border-color:hsl(228deg 6% 17%);
    --sd-input-hover-text-color:hsl(225deg 6% 13%);
    --sd-panel-bg-color:hsl(225deg 5% 17%);
    --sd-panel-border-color:hsl(214deg 5% 30%);
    --sd-panel-padding:5px;
    --sd-border-radius:0px;
    --sd-border-size:1px;
    --sd-gap-size-val:5px;
    --sd-gap-size:max(var(--sd-gap-size-val), var(--sd-border-size));
    --sd-border-size-neg:calc(var(--sd-border-size) * -1);
    --sd-border-size-x2:calc((var(--sd-border-size) * 2) + 0px);
    --sd-group-bg-color:hsl(225deg 6% 13%);
    --sd-group-padding:2px;
    --sd-group-radius:0px;
    --sd-group-border-size:1px;
    --sd-group-border-color:hsl(225deg 6% 13%);
    --sd-group-gap:5px;
    --sd-panel-border-radius:0px;
    --sd-subpanel-border-radius:8px;
    --sd-outside-gap-size:8px;
    --sd-inside-padding-size:8px;
    --sd-tool-button-size:34px;
    --sd-tool-button-radius:16px;
    --sd-generate-button-height:70px;
    --sd-max-padding:max(    var(--sd-outside-gap-size),    var(--sd-inside-padding-size)  );
    --sd-icon-size:22px;
    --sd-mobile-outside-gap-size:2px;
    --sd-mobile-inside-padding-size:2px;
    --panel-border-radius:4px;
    --subpanel-border-radius:8px;
    --outside-gap-size:8px;
    --inside-padding-size:8px;
    --tool-button-size:34px;
    --tool-button-radius:16px;
    --generate-button-height:70px;
    --max-padding:max(var(--outside-gap-size),var(--inside-padding-size));
    --icon-size:22px;
    --mobile-outside-gap-size:3px;
    --mobile-inside-padding-size:3px;
}