/* Author: QuantumSoul */

:root {
    --sd-primary-color:#ffafcc;
    --sd-main-bg-color:#599BD9;
    --sd-label-color:white;
    
    --sd-input-text-color:white;
    --sd-input-placeholder-color:rgba(0, 0, 0, 0.25);
    --sd-input-bg-color:rgba(0, 0, 0, 0.21);
    --sd-input-border-color:rgba(0, 0, 0, 0.1);
    --sd-input-hover-text-color:#ffe6ef;
    
    --sd-panel-bg-color:rgba(162, 210, 255, 0.5);
    --sd-panel-border-color:rgba(162, 210, 255, 0.75);
    
    --sd-group-bg-color:transparent;
    --sd-group-border-color:transparent;
}

h2 {
    text-shadow: 1px 2px 2px white;
}

.spacer-group {
    min-height: 4px;
}