<div id="layout-extra-networks" class="flexbox col">
    <div class="hidden">
        <button id="btn-en-layout-txt2img" tabItemId="#en-layout-txt2img" tabGroup="layout_extra_networks" class="xtabs-tab" />
        <button id="btn-en-layout-img2img" tabItemId="#en-layout-img2img" tabGroup="layout_extra_networks" class="xtabs-tab" />
        <button id="btn-en-layout-control" tabItemId="#en-layout-control" tabGroup="layout_extra_networks" class="xtabs-tab" />
    </div>

    <div id="en-layout-txt2img" class="flexbox col padding">
        <div data-selector="#txt2img_extra_tabs" data-parent-selector="gradio-app" class="portal no-bg"></div>
        <div data-selector="#txt2img_extra_details" data-parent-selector="gradio-app" class="portal no-bg"></div>
    </div>
    <div id="en-layout-img2img" class="flexbox col padding">
        <div data-selector="#img2img_extra_tabs" data-parent-selector="gradio-app" class="portal no-bg"></div>
        <div data-selector="#img2img_extra_details" data-parent-selector="gradio-app" class="portal no-bg"></div>
    </div>
    <div id="en-layout-control" class="flexbox col padding">
        <div data-selector="#control_extra_tabs" data-parent-selector="gradio-app" class="portal no-bg"></div>
        <div data-selector="#control_extra_details" data-parent-selector="gradio-app" class="portal no-bg"></div>
    </div>
</div>