<div id="layout-settings-group" class="flexbox col">
  <div id="layout-settings" class="layout">
    <div class="layout-header">
      <h2>Settings</h2>
      <div class="flexbox row no-border">
        <div data-selector="#settings_submit" data-parent-selector="#tab_settings" class="portal no-padding"></div>
        <div data-selector="#settings_preview_theme" data-parent-selector="#tab_settings" class="portal"></div>
        <div data-selector="#defaults_submit" data-parent-selector="#tab_settings" class="portal"></div>
      </div>
      <div data-selector="#settings_search" data-parent-selector="#tab_settings" class="portal"></div>
      <div data-selector="#settings_result" data-parent-selector="#tab_settings" data-vis="true" class="portal no-br no-tr hide-empty"></div>
    </div>
    <div class="layout-content">
      <div id="split-settings" direction="horizontal" gutterSize="8" class="split panel">
          <div data-minSize="0" data-initSize="10" id="split-settings-left" class="split-container">
            <div data-selector="#settings .tab-nav" data-parent-selector="#tab_settings" class="portal settings-tabs no-padding no-bg"></div>
          </div>
          <div data-minSize="0" data-initSize="90" id="split-settings-right" class="split-container">
            <div data-selector="#settings .tab-content" data-parent-selector="#tab_settings" class="no-panel portal no-padding"></div>
          </div>
      </div>
    </div>
  </div>
</div>
