<div id="layout-console-log">
  <div id="split-console" gutterSize="6" direction="vertical" class="split">

    <h2>GPU Monitor</h2>
    <div>
      <div data-selector="#gpu-controls" data-parent-selector="" data-optional="true" class="portal no-bg no-padding"></div>
      <div data-selector="#gpu-container" data-parent-selector="" data-optional="true" class="portal no-bg no-padding"></div>
    </div>

    <h2>
      Server log
      <div id="btn_console_log_server_wrap" class="mask-icon overlay-icon icon-wrap" title="wrap log lines"></div>
    </h2>
    <div data-minSize="0" data-initSize="50" id="split-console-up" class="split-container">
      <div data-selector="#logMonitorData" data-parent-selector="gradio-app" data-optional="true" class="portal no-bg no-padding"></div>
    </div>

    <h2>
      Client log
      <div id="btn_console_log_client_wrap" class="mask-icon overlay-icon icon-wrap" title="wrap log lines"></div>
    </h2>
    <div data-minSize="0" data-initSize="50" id="split-console-down" class="split-container">
      <div data-selector="#logMonitorJS" data-parent-selector="" data-optional="true" class="portal no-bg no-padding"></div>
    </div>

  </div>
</div>
