<div id="layout-history-group" class="flexbox col">
  <div id="layout-history" class="layout">
    <div class="layout-content">
      <h2>Task History</h2>
      <div data-parent-selector="#tab_history" data-selector="#btn_history_refresh" class="portal no-bg shrink"></div>
      <div data-parent-selector="#tab_history" data-selector="#history_table" class="portal shrink no-bg"></div>
      <h2>Last Generate</h2>
      <div data-parent-selector="#tab_history" data-selector="#history_timeline" class="portal shrink no-bg"></div>
    </div>
  </div>
</div>