<div id="layout-system" class="flexbox col">
	<div class="layout">
		<div class="layout-header">
        <h2>System</h2>
        <div id="system_header" class="flexbox row no-border">
                <div data-selector="#restart_submit" data-parent-selector="#tab_system" class="portal"></div>
                <div data-selector="#shutdown_submit" data-parent-selector="#tab_system" class="portal"></div>
                <div data-selector="#sett_unload_sd_model" data-parent-selector="#tab_system" class="portal"></div>
				<div data-selector="#sett_reload_sd_model" data-parent-selector="#tab_system" class="portal"></div>
            </div>
		</div>
		<div class="layout-content">
			<div data-selector="#system" data-parent-selector="#tab_system" class="portal force-padding"></div>
		</div>
	</div>
</div>