<div class="full-height flexbox col">
  <div id="accordion-video" iconTrigger="#acc-arrow-button-video" class="accordion accordion-vertical left no-drag">
    <div class="accordion-bar">
      <button id="acc-arrow-button-video" class="sd-button acc-button only-desktop">
        <div id="mask-icon-acc-arrow-video" class="mask-icon accordion-icon icon-arrow-down"></div>
      </button>
      <div class="flexbox col"></div>
      <div id="sidebar_video" class="flexbox col shrink group-col">
        <button title="Prompts" tabItemId="#video_prompts_tabitem" tabGroup="video" id="video_prompts" active="true" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-bookmark"></div>
          <span>Prompts</span>
        </button>
        <button title="Size" tabItemId=".video_size_tabitem" tabGroup="video" id="video_params_size" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>Size & Inputs</span>
        </button>
        <button title="Models" tabItemId=".video_generic_tabitem" tabGroup="video" id="video_params_generic" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>Models</span>
        </button>
        <button title="FramePack" tabItemId=".video_framepack_tabitem" tabGroup="video" id="video_params_framepack" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>FramePack</span>
        </button>
        <button title="LTX" tabItemId=".video_ltx_tabitem" tabGroup="video" id="video_params_ltx" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>LTXVideo</span>
        </button>
        <button title="Video Output" tabItemId=".video_outputs_tabitem" tabGroup="video" id="video_params_outputs" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>Video Params</span>
        </button>
        <div class="only-mobile break"></div>
        <button title="Output" tabItemId=".video_output_tabitem" tabGroup="video" id="video_params_output" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-results"></div>
          <span>Output</span>
        </button>
      </div>
    </div>

    <div class="accordion-container">
      <div id="video-params" class="layout">
        <div class="layout-content">

          <div id="video_prompts_tabitem_group" class="flexbox col">
            <div id="video_prompts_tabitem" class="xtabs-item">
              <div class="layout">
                <div class="layout-header">

                  <div class="prompt-header">
                    <h2>Prompt</h2>
                      <div class="flexbox no-border no-bg shrink row">
                        <div data-parent-selector="#tab_video" data-selector="#video_paste" droppable="true" class="portal shrink invisible">
                          <div class="mask-icon icon-magic"></div>
                        </div>
                        <div data-parent-selector="#video_tools" data-selector="#video_clear_prompt_btn" droppable="true" class="portal shrink invisible">
                          <div class="mask-icon icon-delete"></div>
                        </div>
                      </div>
                  </div>
                  <div class="styles flexbox no-border no-bg row">
                    <div data-parent-selector="#video_styles_row" data-selector="#video_styles" class="portal no-min-width"></div>
                    <div data-parent-selector="#video_styles_row" data-selector="#video_styles_refresh" droppable="true" class="portal shrink invisible">
                      <div class="mask-icon refresh"></div>
                    </div>
                    <div data-parent-selector="#video_styles_row" data-selector="#video_styles_apply" droppable="true" class="portal shrink invisible">
                      <div class="mask-icon icon-paste"></div>
                    </div>
                    <div data-parent-selector="#video_styles_row" data-selector="#video_styles_save" droppable="true" class="portal shrink invisible">
                      <div class="mask-icon icon-save"></div>
                    </div>
                  </div>

                </div>
                <div class="layout-content">
                  <div class="flexbox col">
                    <div id="split-video-prompts" direction="vertical" gutterSize="6" class="split main-prompt">
                      <div data-minSize="0" data-initSize="50" id="split-video-prompt-up" class="split-container">
                        <div class="layout">
                          <div class="layout-content">
                            <div data-parent-selector="#tab_video" data-selector="#video_prompt" class="portal no-bg"></div>
                          </div>
                        </div>
                      </div>
                      <div data-minSize="0" data-initSize="50" id="split-video-prompt-down" class="split-container">
                        <div class="layout">
                          <div class="layout-content">
                            <div data-parent-selector="#tab_video" data-selector="#video_neg_prompt" class="portal no-bg"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_params_size_tabitem_group" class="outline-params">
            <div id="video_params_size_tabitem" class="xtabs-item video_size_tabitem">
              <div class="flexbox col">
                <h2>Size</h2>
                <div data-parent-selector="#tab_video" data-selector="#video_size" class="portal no-bg"></div>
                <h2>Inputs</h2>
                <div data-parent-selector="#tab_video" data-selector="#video_inputs" class="portal no-bg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_params_generic_tabitem_group" class="outline-params">
            <div id="video_params_generic_tabitem" class="xtabs-item video_generic_tabitem">
              <div class="flexbox col">
                <h2>Generic</h2>
                <div data-parent-selector="#tab_video" data-selector="#video_settings" class="portal no-bg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_params_framepack_tabitem_group" class="outline-params">
            <div id="video_params_framepack_tabitem" class="xtabs-item video_framepack_tabitem">
              <div class="flexbox col">
                <h2>FramePack</h2>
                <div data-parent-selector="#tab_video" data-selector="#framepack_settings" class="portal no-bg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_params_ltx_tabitem_group" class="outline-params">
            <div id="video_params_ltx_tabitem" class="xtabs-item video_ltx_tabitem">
              <div class="flexbox col">
                <h2>LTXVideo</h2>
                <div data-parent-selector="#tab_video" data-selector="#ltx_settings" class="portal no-bg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_params_outputs_tabitem_group" class="outline-params">
            <div id="video_params_outputs_tabitem" class="xtabs-item video_outputs_tabitem">
              <div class="flexbox col">
                <h2>Video Output</h2>
                <div data-parent-selector="#tab_video" data-selector="#video_outputs" class="portal no-bg"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout-content">
          <div id="video_output_mobile_tabitem_group" class="outline-params">
            <div id="video_output_mobile_tabitem" class="flexbox col video_output_tabitem only-mobile">
              <div class="flexbox col">
                <h2>Output</h2>
                <div id="video_output_mobile_tabitem" mobile="#video-output-column" class="xtabs-item"></div>
                <div id="video_output_mobile_tabitem" mobile="#framepack-output-column" class="xtabs-item"></div>
                <div id="video_output_mobile_tabitem" mobile="#ltx-output-column" class="xtabs-item"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="video_output_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
      <div id="video_output_generate_tabitem" mobile="#video_generate_group" class="xtabs-item"></div>
    </div>

  </div>
</div>