<div id="layout-extras" class="layout">
  <div class="layout-header">
    <div class="flexbox row shrink panel padding no-br">
      <div class="flexbox col shrink align-end">
        <h2>Process</h2>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="xtabs panel auto no-tr">
      <div class="flexbox col shrink">
        <div id="extras_params_tabitem_group" class="flexbox col outline-params">
          <div id="extras_params_tabitem" class="xtabs-item">
            <div class="xtabs-anchor flexbox" anchorNav="#mode_extras > .tab-nav">
              <div anchor="1,2,3,4,5,6" class="flexbox col">
                <div class="flexbox col spacer-group"></div>
                <div class="flexbox row group">
                  <div data-parent-selector="gradio-app" data-selector="#extras_save_output" class="portal"></div>
                </div>
                <div class="flexbox col spacer-group"></div>

                <h2>Upscale</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_upscale_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>Remove background</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_rembg_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>NudeNet</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_nudenet_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>Video</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_video_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>PixelArt</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_pixelart_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>GFPGAN</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_gfpgan_accordion .gap" class="portal no-bg no-outline"></div>

                <h2>CodeFormer</h2>
                <div data-parent-selector="#tab_process" data-selector="#postprocess_codeformer_accordion .gap" class="portal no-bg no-outline"></div>

              </div>
            </div>
          </div>
        </div>
        <div id="extras_results_input_mobile_tabitem_group" class="flexbox col only-mobile">
          <div id="extras_results_input_mobile_tabitem" mobile="#extras-template-column-input" class="xtabs-item"></div>
        </div>
        <div id="extras_results_output_mobile_tabitem_group" class="flexbox col only-mobile">
          <div id="extras_results_output_mobile_tabitem" mobile="#extras-template-column-output" class="xtabs-item"></div>
        </div>
      </div>
    </div>
    <div id="extras_results_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
      <div id="extras_results_generate_tabitem" mobile="#extras_generate_group" class="xtabs-item"></div>
    </div>
  </div>
</div>