<div id="layout-caption" class="layout">
  <div class="layout-header">
    <div class="flexbox row shrink panel padding no-br">
      <div class="flexbox col shrink align-end">
        <h2>Caption Controls</h2>
      </div>
      <div class="flexbox row flex-end group-row generate-icons">
        <button title="Caption" class="sd-button generate">
          <div data-selector="#btn_vlm_caption" data-parent-selector="#tab_caption" droppable="true" class="portal no-bg shrink invisible btn-generate">
            <div class="mask-icon icon-caption"></div>
            <span>Caption</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div data-parent-selector="#tab_caption" data-selector="#mode_caption" class="portal"></div>
  </div>
</div>