<div id="layout-caption" class="layout">
  <div class="layout-header">
    <div class="flexbox row shrink panel padding no-br">
      <div class="flexbox row no-wrap flex-start group-row tab-header">
        <button title="Parameters" tabItemId="#caption_params_tabitem" tabGroup="caption" id="caption_params" active="true" class="xtabs-tab shrink">
          <div class="mask-icon icon-equalize"></div>
          <span>Params</span>
        </button>
        <button title="Output" tabItemId="#caption_results_output_mobile_tabitem" tabGroup="caption" id="caption_results_output_mobile" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-results"></div>
          <span>Output</span>
        </button>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div data-parent-selector="#tab_caption" data-selector="#interrogate_input" class="portal only-diffusers"></div>
  </div>
</div>