<div class="full-height flexbox col">
  <div id="accordion-txt2img" iconTrigger="#acc-arrow-button-txt2img" class="accordion accordion-vertical left no-drag">
    <div class="accordion-bar">
      <button id="acc-arrow-button-txt2img" class="sd-button acc-button only-desktop">
        <div id="mask-icon-acc-arrow-txt2img" class="mask-icon accordion-icon icon-arrow-down"></div>
      </button>
      <div class="flexbox col"></div>
      <div id="sidebar_txt2img" class="flexbox col shrink group-col">
        <button title="Prompts" tabItemId="#txt2img_prompts_tabitem" tabGroup="txt2img" id="txt2img_prompts" active="true" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-bookmark"></div>
          <span>Prompts</span>
        </button>
        <button title="Sampler" tabItemId="#txt2img_sampler_tabitem" tabGroup="txt2img" id="txt2img_sampler" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>Sampler</span>
        </button>
        <button title="Refine" tabItemId="#txt2img_refine_tabitem" tabGroup="txt2img" id="txt2img_refine" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-check"></div>
          <span>Refine</span>
        </button>
        <button title="Advanced" tabItemId="#txt2img_advanced_tabitem" tabGroup="txt2img" id="txt2img_advanced" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-gear"></div>
          <span>Advanced</span>
        </button>
        <button title="IP Adapters" tabItemId="#txt2img_adapters_tabitem" tabGroup="txt2img" id="txt2img_adapters" class="xtabs-tab">
          <div class="mask-icon icon-folder-user"></div>
          <span>Adapters</span>
        </button>
        <button title="Scripts / Extensions" tabItemId="#txt2img_scripts_tabitem" tabGroup="txt2img" id="txt2img_scripts" class="xtabs-tab">
          <div class="mask-icon icon-folders"></div>
          <span>Scripts</span>
        </button>
        <button title="Output" tabItemId="#txt2img_results_mobile_tabitem" tabGroup="txt2img" id="txt2img_results_mobile" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-results"></div>
          <span>Output</span>
        </button>
      </div>
    </div>

    <div class="accordion-container">
      <div id="txt2img-params" class="layout">

        <div class="xtabs-items">
          <div id="txt2img_prompts_tabitem_group" class="flexbox col">
            <div id="txt2img_prompts_tabitem" class="xtabs-item">

              <div class="layout-header">
                <div class="prompt-header">
                  <h2>Prompt</h2>
                    <div class="flexbox no-border no-bg shrink row">
                      <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_paste" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-magic"></div>
                      </div>
                      <div data-parent-selector="#txt2img_tools" data-selector="#txt2img_clear_prompt_btn" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-delete"></div>
                      </div>
                    </div>
                </div>
                <div class="flexbox no-border no-bg row">
                  <div data-parent-selector="#txt2img_styles_row" data-selector="#txt2img_styles" class="portal no-min-width"></div>
                  <div data-parent-selector="#txt2img_styles_row" data-selector="#txt2img_styles_refresh" droppable="true" class="portal shrink invisible">
                    <div class="mask-icon refresh"></div>
                  </div>
                  <div data-parent-selector="#txt2img_styles_row" data-selector="#txt2img_styles_apply" droppable="true" class="portal shrink invisible">
                    <div class="mask-icon icon-paste"></div>
                  </div>
                  <div data-parent-selector="#txt2img_styles_row" data-selector="#txt2img_styles_save" droppable="true" class="portal shrink invisible">
                    <div class="mask-icon icon-save"></div>
                  </div>
                </div>
              </div>
              <div class="layout-content">
                <div class="flexbox col">
                  <div id="split-txt2img-prompt" direction="vertical" gutterSize="6" class="split main-prompt">
                    <div data-minSize="0" data-initSize="50" id="split-txt2img-prompt-up" class="split-container">
                      <div class="layout">
                        <div class="layout-content">
                          <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_prompt" class="portal no-bg"></div>
                          <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_token_counter" class="portal bottom-right" data-timeout="1000"></div>
                        </div>
                      </div>
                    </div>
                    <div data-minSize="0" data-initSize="50" id="split-txt2img-prompt-down" class="split-container">
                      <div class="layout">
                        <div class="layout-content">
                          <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_neg_prompt" class="portal no-bg"></div>
                          <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_negative_token_counter" data-timeout="1000" class="portal bottom-right"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="flexbox col outline-params">
                    <div class="flexbox col spacer-group"></div>

                    <h2>Size & Batch</h2>
                    <div class="flexbox row group">
                      <div class="flexbox col">
                        <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_width" class="portal"></div>
                        <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_height" class="portal"></div>
                      </div>
                      <div class="flexbox col center panel unset-min-width shrink">
                        <div data-selector="#txt2img_res_btn_swap" data-parent-selector="#tab_txt2img" droppable="true" class="portal invisible tool">
                          <div class="mask-icon icon-res-switch"></div>
                        </div>
                        <div data-selector="#txt2img_ar" data-parent-selector="#tab_txt2img" class="portal no-bg"></div>
                      </div>
                      <div class="flexbox col">
                        <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_batch_count" class="portal"></div>
                        <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_batch_size" class="portal"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="txt2img_sampler_tabitem_group" class="flexbox col outline-params">
          <div id="txt2img_sampler_tabitem" class="xtabs-item">
            <div class="flexbox col auto-scroll">

              <h2>Sampler</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_sampler_row" class="portal no-outline"></div>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_sampler_group .gap" class="portal no-outline"></div>

              <h2>Seed</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_seed_group .gap" class="portal no-outline"></div>

            </div>
          </div>
        </div>

        <div id="txt2img_refine_tabitem_group" class="flexbox col outline-params">
          <div id="txt2img_refine_tabitem" class="xtabs-item">
            <div class="flexbox col auto-scroll">

              <h2>Refine</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_refine_accordion .gap" class="portal no-outline"></div>

              <h2>Detailer</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_detailer_accordion .gap" class="portal no-outline"></div>

            </div>
          </div>
        </div>

        <div id="txt2img_advanced_tabitem_group" class="flexbox col outline-params">
          <div id="txt2img_advanced_tabitem" class="xtabs-item">
            <div class="flexbox col auto-scroll">

              <h2>Advanced</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_cfg_row" class="portal no-outline"></div>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_advanced .gap" class="portal no-outline"></div>

              <h2>Corrections</h2>
              <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_corrections .gap" class="portal no-outline"></div>

              <h2>Override</h2>
              <div class="flexbox group col">
                <div class="flexbox row">
                  <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_override_settings" class="portal"></div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div id="txt2img_adapters_tabitem_group" class="flexbox col">
          <div id="txt2img_adapters_tabitem" class="xtabs-item">

            <h2>IP Adapters</h2>
            <div data-parent-selector="#tab_txt2img" data-selector="#ipadapter .gap" class="portal no-bg no-outline"></div>

          </div>
        </div>

        <div id="txt2img_scripts_tabitem_group" class="flexbox col">
          <div id="txt2img_scripts_tabitem" class="xtabs-item">

            <h2 title="Select generate script">Script</h2>
            <div data-parent-selector="#tab_txt2img" data-selector="#txt2img_script_container" class="portal no-bg"></div>

            <h2 title="Select generate extension">Extensions</h2>
            <div data-parent-selector="#txt2img_script_container" data-selector="#txt2img_script_alwayson .gap" class="portal no-bg no-outline"></div>

          </div>
        </div>

        <div id="txt2img_results_mobile_tabitem_group" class="flexbox col only-mobile">
          <div id="txt2img_results_mobile_tabitem" mobile="#template-txt2img-results" class="xtabs-item"></div>
        </div>
      </div>
    </div>

    <div id="txt2img_results_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
      <div id="txt2img_results_generate_tabitem" mobile="#txt2img_generate_group" class="xtabs-item"></div>
    </div>
  </div>
</div>