<div class="full-height flexbox col">
  <div id="accordion-control" iconTrigger="#acc-arrow-button-control" class="accordion accordion-vertical left no-drag">
    <div class="accordion-bar">
      <button id="acc-arrow-button-control" class="sd-button acc-button only-desktop">
        <div id="mask-icon-acc-arrow-control" class="mask-icon accordion-icon icon-arrow-down"></div>
      </button>
      <div class="flexbox col"></div>
      <div id="sidebar_control" class="flexbox col shrink group-col">
        <button title="Prompts" tabItemId="#control_prompts_tabitem" tabGroup="control" id="control_prompts" active="true" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-bookmark"></div>
          <span>Prompts</span>
        </button>
        <button title="Sampler & Steps" tabItemId="#control_params_sampler_tabitem" tabGroup="control" id="control_params_sampler" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-grid"></div>
          <span>Sampler</span>
        </button>
        <button title="Refine & Detail" tabItemId="#control_params_refine_tabitem" tabGroup="control" id="control_params_refine" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-check"></div>
          <span>Refine</span>
        </button>
        <button title="Advanced" tabItemId="#control_params_advanced_tabitem" tabGroup="control" id="control_params_advanced" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-gear"></div>
          <span>Advanced</span>
        </button>
        <button title="Input & Mask" tabItemId="#control_params_mask_tabitem" tabGroup="control" id="control_params_mask" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-image"></div>
          <span>Inputs</span>
        </button>
        <button title="Adapters" tabItemId="#control_params_adapter_tabitem" tabGroup="control" id="control_params_adapter" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-user"></div>
          <span>Adapters</span>
        </button>
        <button title="Control" tabItemId="#control_params_control_tabitem" tabGroup="control" id="control_params_elements" class="xtabs-tab shrink">
          <div class="mask-icon icon-folder-tree"></div>
          <span>Control</span>
        </button>
        <button title="Scripts / Extensions" tabItemId="#control_scripts_tabitem" tabGroup="control" id="control_scripts" class="xtabs-tab">
          <div class="mask-icon icon-folders"></div>
          <span>Scripts</span>
        </button>
        <button title="Input" tabItemId="#control_results_input_mobile_tabitem" tabGroup="control" id="control_results_input_mobile" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-lora"></div>
          <span>Input</span>
        </button>
        <button title="Preview" tabItemId="#control_results_preview_mobile_tabitem" tabGroup="control" id="control_results_preview_mobile" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-lora"></div>
          <span>Preview</span>
        </button>
        <button title="Output" tabItemId="#control_results_output_mobile_tabitem" tabGroup="control" id="control_results_output_mobile" class="xtabs-tab only-mobile">
          <div class="mask-icon icon-results"></div>
          <span>Output</span>
        </button>
      </div>
    </div>

    <div class="accordion-container">
      <div id="control-params" class="layout">
        <div class="layout-content">

          <div id="control_prompts_tabitem_group" class="flexbox col">
            <div id="control_prompts_tabitem" class="xtabs-item">
              <div class="layout">
                <div class="layout-header">
                  <div class="flexbox no-padding row">
                    <div class="flexbox no-border no-bg shrink row">
                      <div data-parent-selector="#tab_control" data-selector="#control_paste" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-magic"></div>
                      </div>
                      <div data-parent-selector="#control_tools" data-selector="#control_clear_prompt_btn" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-delete"></div>
                      </div>
                    </div>
                    <div class="styles flexbox no-border no-bg row">
                      <div data-parent-selector="#control_styles_row" data-selector="#control_styles" class="portal no-min-width"></div>
                      <div data-parent-selector="#control_styles_row" data-selector="#control_styles_refresh" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon refresh"></div>
                      </div>
                      <div data-parent-selector="#control_styles_row" data-selector="#control_styles_apply" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-paste"></div>
                      </div>
                      <div data-parent-selector="#control_styles_row" data-selector="#control_styles_save" droppable="true" class="portal shrink invisible">
                        <div class="mask-icon icon-save"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="layout-content">
                  <div class="flexbox col">
                    <div id="split-control-prompts" direction="vertical" gutterSize="8" class="split">
                      <div data-minSize="0" data-initSize="50" id="split-control-prompt-up" class="split-container">
                        <div class="layout">
                          <div class="layout-content">
                            <div data-parent-selector="#tab_control" data-selector="#control_prompt" class="portal no-bg"></div>
                          </div>
                          <div class="layout-footer">
                            <div data-parent-selector="#tab_control" data-selector="#control_token_counter" class="portal relative token-counter" data-timeout="1000"></div>
                          </div>
                        </div>
                      </div>
                      <div data-minSize="0" data-initSize="50" id="split-control-prompt-down" class="split-container">
                        <div class="layout">
                          <div class="layout-content">
                            <div data-parent-selector="#tab_control" data-selector="#control_neg_prompt" class="portal no-bg"></div>
                          </div>
                          <div class="layout-footer">
                            <div data-parent-selector="#tab_control" data-selector="#control_negative_token_counter" data-timeout="1000" class="portal relative token-counter"></div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="flexbox col outline-params">

                      <h2>Size</h2>
                      <!-- <div data-parent-selector="#tab_control" data-selector="#control_size .gap" class="portal no-outline"></div> -->
                      <div class="flexbox col group">
                        <div class="flexbox panel row group-row shrink ">
                          <button tabItemId="#control_resize_before_tabitem" tabGroup="control-resize-group" class="xtabs-tab" active="true"><span>Generate</span></button>
                          <button tabItemId="#control_resize_after_tabitem" tabGroup="control-resize-group" class="xtabs-tab"><span>Postprocess</span></button>
                          <button tabItemId="#control_resize_mask_tabitem" tabGroup="control-resize-group" class="xtabs-tab"><span>Mask</span></button>
                        </div>
                        <div class="xtabs sub-group no-padding">

                          <div id="control_resize_before_tabitem" class="xtabs-item initial inset notransition">
                            <div class="flexbox row wrap">
                              <div class="flexbox col grow-all">
                                <div class="flexbox panel row group-row shrink">
                                  <button tabItemId="#control_before_scale_to_tabitem" tabGroup="control-resize-before-group" data-click="#tab_control" active="true"
                                    class="xtabs-tab no-drag"><span>Fixed</span></button>
                                  <button tabItemId="#control_before_scale_by_tabitem" tabGroup="control-resize-before-group" data-click="#tab_control"
                                    class="xtabs-tab no-drag"><span>Scale</span></button>
                                </div>
                                <div class="flexbox col">
                                  <div class="xtabs sub-group no-padding">
                                    <div class="xtabs-items">
                                      <div class="flexbox col no-padding full-height">
                                        <div id="control_before_scale_to_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_before_resize_width" class="portal"></div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_before_resize_height" class="portal"></div>
                                          </div>
                                        </div>
                                        <div id="control_before_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_before_scale" class="portal"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="flexbox col center panel shrink">
                                <div data-parent-selector="#tab_control" data-selector="#control_before_resize_ar" class="portal no-bg"></div>
                                <div data-parent-selector="#tab_control" data-selector="#control_before_resize_switch_size_btn" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-res-switch"></div>
                                </div>
                                <div data-parent-selector="#tab_control" data-selector="#control_before_resize_detect_size_btn" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-ruler"></div>
                                </div>
                              </div>
                              <div id="control_dynamic_resize" class="flexbox col panel">
                                <div class="flexbox row ">
                                  <div data-parent-selector="#tab_control" data-selector="#control_before_resize_mode" class="portal no-outline"></div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_before_resize_name" class="portal no-outline"></div>
                                  <div data-parent-selector="#tab_control" data-selector="#refresh_upscalers" droppable="true" class="portal invisible shrink">
                                    <div class="mask-icon refresh"></div>
                                  </div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_before_resize_context" class="portal no-outline"></div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div id="control_resize_after_tabitem" class="xtabs-item initial inset notransition">
                            <div class="flexbox row wrap">
                              <div class="flexbox col grow-all">
                                <div class="flexbox panel row group-row shrink">
                                  <button tabItemId="#control_after_scale_to_tabitem" tabGroup="control-resize-after-group" data-click="#tab_control" active="true"
                                    class="xtabs-tab no-drag"><span>Resize to</span></button>
                                  <button tabItemId="#control_after_scale_by_tabitem" tabGroup="control-resize-after-group" data-click="#tab_control" class="xtabs-tab no-drag"><span>Resize
                                      by</span></button>
                                </div>
                                <div class="flexbox col">
                                  <div class="xtabs sub-group no-padding">
                                    <div class="xtabs-items">
                                      <div class="flexbox col no-padding full-height">
                                        <div id="control_after_scale_to_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_after_resize_width" class="portal"></div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_after_resize_height" class="portal"></div>
                                          </div>
                                        </div>
                                        <div id="control_after_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_after_scale" class="portal"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="flexbox col center panel shrink">
                                <div data-selector="#control_after_resize_ar" data-parent-selector="#tab_control" class="portal no-bg"></div>
                                <div data-selector="#control_after_resize_switch_size_btn" data-parent-selector="#tab_control" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-res-switch"></div>
                                </div>
                                <div data-selector="#control_after_resize_detect_size_btn" data-parent-selector="#tab_control" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-ruler"></div>
                                </div>
                              </div>
                              <div class="flexbox col panel">
                                <div class="flexbox row">
                                  <div data-parent-selector="#tab_control" data-selector="#control_after_resize_mode" class="portal no-outline"></div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_after_resize_name" class="portal no-outline"></div>
                                  <div data-parent-selector="#tab_control" data-selector="#refresh_upscalers" droppable="true" class="portal invisible shrink">
                                    <div class="mask-icon refresh"></div>
                                  </div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_after_resize_context" class="portal no-outline"></div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div id="control_resize_mask_tabitem" class="xtabs-item initial inset notransition">
                            <div class="flexbox row wrap">
                              <div class="flexbox col grow-all">
                                <div class="flexbox panel row group-row shrink">
                                  <button tabItemId="#control_mask_scale_to_tabitem" tabGroup="control-resize-mask-group" data-click="#tab_control" active="true" class="xtabs-tab no-drag"><span>Resize
                                      to</span></button>
                                  <button tabItemId="#control_mask_scale_by_tabitem" tabGroup="control-resize-mask-group" data-click="#tab_control" class="xtabs-tab no-drag"><span>Resize
                                      by</span></button>
                                </div>
                                <div class="flexbox col">
                                  <div class="xtabs sub-group no-padding">
                                    <div class="xtabs-items">
                                      <div class="flexbox col no-padding full-height">
                                        <div id="control_mask_scale_to_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_mask_resize_width" class="portal"></div>
                                            <div data-parent-selector="#tab_control" data-selector="#control_mask_resize_height" class="portal"></div>
                                          </div>
                                        </div>
                                        <div id="control_mask_scale_by_tabitem" class="xtabs-item initial inset notransition">
                                          <div class="flexbox col group inset subgroup">
                                            <div data-parent-selector="#tab_control" data-selector="#control_mask_scale" class="portal"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="flexbox col center panel shrink">
                                <div data-selector="#control_mask_resize_ar" data-parent-selector="#tab_control" class="portal no-bg"></div>
                                <div data-selector="#control_mask_resize_switch_size_btn" data-parent-selector="#tab_control" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-res-switch"></div>
                                </div>
                                <div data-selector="#control_mask_resize_detect_size_btn" data-parent-selector="#tab_control" droppable="true" class="portal invisible tool">
                                  <div class="mask-icon icon-ruler"></div>
                                </div>
                              </div>
                              <div class="flexbox col panel">
                                <div class="flexbox row">
                                  <div data-parent-selector="#tab_control" data-selector="#control_mask_resize_mode" class="portal no-outline"></div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_mask_resize_name" class="portal no-outline"></div>
                                  <div data-parent-selector="#tab_control" data-selector="#refresh_upscalers" droppable="true" class="portal invisible shrink">
                                    <div class="mask-icon refresh"></div>
                                  </div>
                                </div>
                                <div class="flexbox row shrink">
                                  <div data-parent-selector="#tab_control" data-selector="#control_mask_resize_context" class="portal no-outline"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="control_params_sampler_tabitem_group" class="outline-params">
            <div id="control_params_sampler_tabitem" class="xtabs-item">
              <div class="flexbox col">

                <h2>Sampler</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_sampler .gap" class="portal no-outline"></div>

                <h2>Seed</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_seed_group .gap" class="portal no-outline"></div>

              </div>
            </div>
          </div>

          <div id="control_params_refine_tabitem_group" class="outline-params">
            <div id="control_params_refine_tabitem" class="xtabs-item">
              <div class="flexbox col">

                <h2>Refine</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_refine_accordion .gap" class="portal no-outline"></div>

                <h2>Detailer</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_detailer_accordion .gap" class="portal no-outline"></div>

              </div>
            </div>
          </div>

          <div id="control_params_advanced_tabitem_group" class="flexbox col outline-params">
            <div id="control_params_advanced_tabitem" class="xtabs-item">
              <div class="flexbox col">

                <h2>Batch</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_batch .gap" class="portal no-outline"></div>

                <h2>Advanced</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_advanced .gap" class="portal no-outline"></div>

                <h2>Corrections</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_corrections .gap" class="portal no-outline"></div>

                <h2>Override</h2>
                <div class="flexbox group col">
                  <div class="flexbox row">
                    <div data-parent-selector="#tab_control" data-selector="#control_override_settings" class="portal"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="control_params_mask_tabitem_group" class="flexbox col outline-params">
            <div id="control_params_mask_tabitem" class="xtabs-item">
              <div class="flexbox col">

                <h2>Input</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_input .gap" class="portal no-outline"></div>

                <h2>Mask</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_mask .gap" class="portal no-outline"></div>

                <h2>Video</h2>
                <div data-parent-selector="#tab_control" data-selector="#control_video .gap" class="portal no-outline"></div>

              </div>
            </div>
          </div>

          <div id="control_params_adapter_tabitem_group" class="flexbox col outline-params">
            <div id="control_params_adapter_tabitem" class="xtabs-item">
              <h2>IP Adapters</h2>
              <div data-parent-selector="#tab_control .ipadapter" data-selector="div:last-child > div" class="portal"></div>
            </div>
          </div>

          <div id="control_params_control_tabitem_group" class="flexbox col outline-params">
            <div id="control_params_control_tabitem" class="xtabs-item">
              <h2>Control Methods</h2>
              <div data-parent-selector="#tab_control" data-selector="#control_elements div:last-child > div" class="portal"></div>
            </div>
          </div>

          <div id="control_scripts_tabitem_group" class="flexbox col">
            <div id="control_scripts_tabitem" class="xtabs-item">
              <h2 title="Select generate script">Script</h2>
              <div data-parent-selector="#tab_control" data-selector="#control_script_container" class="portal no-bg"></div>
              <h2 title="Select generate extension">Extensions</h2>
              <div data-parent-selector="#control_script_container" data-selector="#control_script_alwayson" class="portal no-bg no-outline"></div>
            </div>
          </div>

          <div id="control_results_input_mobile_tabitem_group" class="flexbox col only-mobile">
            <div id="control_results_input_mobile_tabitem" mobile="#control-template-column-input" class="xtabs-item"></div>
          </div>
          <div id="control_results_preview_mobile_tabitem_group" class="flexbox col only-mobile">
            <div id="control_results_preview_mobile_tabitem" mobile="#control-template-column-preview" class="xtabs-item"></div>
          </div>
          <div id="control_results_output_mobile_tabitem_group" class="flexbox col only-mobile">
            <div id="control_results_output_mobile_tabitem" mobile="#control-template-column-output" class="xtabs-item"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="control_results_generate_tabitem_group" class="flexbox col panel no-grow only-mobile">
    <div id="control_results_generate_tabitem" mobile="#control_generate_group" class="xtabs-item"></div>
  </div>
</div>